.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

header, main, footer {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
	padding-left: 0;
	}
}

ul.browser-default li {
	list-style-type: initial;
}

a {
	color: #e65100 !important;
}