presentations/Vesselinov[[:space:]]2018[[:space:]]Novel[[:space:]]Machine[[:space:]]Learning[[:space:]]Methods[[:space:]]for[[:space:]]Extraction[[:space:]]of[[:space:]]Features[[:space:]]Characterizing[[:space:]]Complex[[:space:]]Datasets[[:space:]]and[[:space:]]Models[[:space:]]LA-UR-18-30987.pdf filter=lfs diff=lfs merge=lfs -text
presentations/Vesselinov[[:space:]]2018[[:space:]]Novel[[:space:]]Machine[[:space:]]Learning[[:space:]]Methods[[:space:]]for[[:space:]]Extraction[[:space:]]of[[:space:]]Features[[:space:]]Characterizing[[:space:]]Datasets[[:space:]]and[[:space:]]Models[[:space:]]LA-UR-18-31366.pdf filter=lfs diff=lfs merge=lfs -text
papers/O[[:space:]]G[[:space:]]V[[:space:]]2019[[:space:]]Learning[[:space:]]to[[:space:]]regularize[[:space:]]with[[:space:]]a[[:space:]]variational[[:space:]]autoencoder[[:space:]]for[[:space:]]hydrologic[[:space:]]inverse[[:space:]]analysis.pdf filter=lfs diff=lfs merge=lfs -text
presentations/Vesselinov[[:space:]]2019[[:space:]]Unsupervised[[:space:]]Machine[[:space:]]Learning[[:space:]]Nonnegative[[:space:]]Matrix[[:space:]]Tensor[[:space:]]Decompositions.pdf filter=lfs diff=lfs merge=lfs -text
presentations/Vesselinov[[:space:]]2019[[:space:]]Machine[[:space:]]learning[[:space:]]analyses[[:space:]]for[[:space:]]characterization[[:space:]]of[[:space:]]oil,[[:space:]]gas[[:space:]]and[[:space:]]water[[:space:]]production[[:space:]]from[[:space:]]unconventional[[:space:]]tight-rock[[:space:]]reservoirs.pdf filter=lfs diff=lfs merge=lfs -text
presentations/Vesselinov[[:space:]]2019[[:space:]]Unsupervised[[:space:]]and[[:space:]]Physics-Informed[[:space:]]Machine[[:space:]]Learning[[:space:]]of[[:space:]]Big[[:space:]]Data.pdf filter=lfs diff=lfs merge=lfs -text
presentations/Vesselinov[[:space:]]2020[[:space:]]Discovering[[:space:]]Hidden[[:space:]]Geothermal[[:space:]]Signatures[[:space:]]using[[:space:]]Unsupervised[[:space:]]Machine[[:space:]]Learning[[:space:]]LA-UR-20-21322.pdf filter=lfs diff=lfs merge=lfs -text
presentations/Mudunuru[[:space:]]2020[[:space:]]Site-Scale[[:space:]]and[[:space:]]Regional-Scale[[:space:]]Modeling[[:space:]]for[[:space:]]Geothermal[[:space:]]Resource[[:space:]]Analysis[[:space:]]and[[:space:]]Exploration[[:space:]]LA-UR-20-21367.pdf filter=lfs diff=lfs merge=lfs -text
presentations/Vesselinov[[:space:]]2019[[:space:]]Machine[[:space:]]Learning[[:space:]]Analyses[[:space:]]of[[:space:]]Climate[[:space:]]Data[[:space:]]and[[:space:]]Models[[:space:]]EWRA.pdf filter=lfs diff=lfs merge=lfs -text
