[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true
	precomposeunicode = true
[remote "origin"]
	url = git@gitlab.com:monty/monty.gitlab.io.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = gh
	merge = refs/heads/master
[remote "gl"]
	url = git@gitlab.com:monty/www-monty.git
	fetch = +refs/heads/*:refs/remotes/gl/*
[remote "gh"]
	url = git@github.com:montyvesselinov/montyvesselinov.github.io.git
	fetch = +refs/heads/*:refs/remotes/gh/*
