[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true
	precomposeunicode = true
[remote "origin"]
	url = git@gitlab.com:monty/monty.gitlab.io.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = origin
	merge = refs/heads/master
[remote "gl"]
	url = git@gitlab.com:monty/monty.gitlab.io.git
	fetch = +refs/heads/*:refs/remotes/gl/*
[remote "gh"]
	url = git@github.com:montyvesselinov/montyvesselinov.github.io.git
	fetch = +refs/heads/*:refs/remotes/gh/*
[remote "gh2"]
	url = git@github.com:montyv/montyv.github.io.git
	fetch = +refs/heads/*:refs/remotes/gh/*
[lfs "https://github.com/montyv/montyv.github.io.git/info/lfs"]
	locksverify = false
[lfs "https://gitlab.com/monty/monty.gitlab.io.git/info/lfs"]
	locksverify = false
[lfs "https://github.com/montyvesselinov/montyvesselinov.github.io.git/info/lfs"]
	locksverify = false
[lfs]
	repositoryformatversion = 0
